
.active > .page-link{
    background-color: black;
    border-color: black;
}

.page-link{
    color: black;
}

.boardBtn{
    background-color: black;
    color: white;
    border: none;
    width: 80px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    margin: 0 5px 0 5px;
    padding-top: 4px;
}
.boardBtnFont{
    color: black;
}

.boardTopEtc{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.boardSearchBox{
    text-align: center;
    margin: 30px 0;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
}
.boardSearchBox > .keyword{
    border: 1px solid #e8e8e8;
    padding: 5px 10px;
    border-radius: 10px;
    width: 200px;
    font-size: 18px;
}
.categoryActive{
    background-color: #D02E35;
}

/* VIEW PAGE CSS */
.boardViewBox{
    margin-top: 20px;
    padding: 50px;
}
.boardViewBox .viewTitle{
    margin-right: 10px;
    font-weight: bold;
    color: #D02E35;
}
.boardViewBox > div{ 
    padding: 20px 0;
    border-bottom: 1px solid #e8e8e8;
}
.boardViewBox > div:nth-child(1) > span{ /* 제목 */
    font-size: 25px;
}
.boardViewBox > div:nth-child(2){ /* 기타정보 */
    display: flex;
    justify-content: space-between;
}
.boardViewBox > div:nth-child(3){ /* 내용 */
    min-height: 500px; /* 높이 */
    /* min-height: ;  최소높이 : 내용을 더 커지면 더 커진다 */
    /* max-height: ;  최대높이 : 내용물 더 커지면 고정 */
}
.boardViewBox > div:nth-child(4){ /* 버튼구역 */

}