{{>layouts/header}}
<table border="1" >
    <thead>
    <tr>
        <th> ID </th>
        <th> PW </th>
        <th> Name </th>
        <th> Email </th>
        <th> Phone </th>
        <th> Img </th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td> {{ id }} </td>
            <td> {{ pw }}  </td>
            <td> {{ name }} </td>
            <td> {{ email }} </td>
            <td> {{ phone }} </td>
            <td> {{ img }} </td>
        </tr>

    </tbody>
</table>


{{>layouts/footer}}