{{>ezenweb/header}}

    <h1>회원가입 페이지</h1>

    <table>
        <tbody>
        <tr>
            <th>아이디    </th>

        <td>
            <input type="text" id="id"/> <br/>
        </td>
        </tr>
        <tr>
            <th><label>비밀번호 </label></th>
        <td>
            <input type="text" id="pw"/> <br/>
        </td>
        </tr>
        <tr>
            <th>비밀번호확인   </th>

            <td>
                <input type="text" id="pwconfirm"/> <br/>
            </td>
        </tr>
        <tr>
            <th>이름  </th>

            <td>
                <input type="text" id="name"/> <br/>
            </td>
        </tr>
        <tr>
            <th>전화번호  </th>

            <td>
                <input type="text" id="phone"/> <br/>
            </td>
        </tr>
        <tr>
            <th>이메일  </th>

            <td>
                <input type="text" id="email"/> <br/>
            </td>
        </tr>
        <tr>
            <th>프로필 사진  </th>

            <td>
                <input type="text" id="img"/> <br/>
            </td>
        </tr>
        <tr>
            <th><a href="/member/login">로그인</a></th>
            <td>
                <button type="button" onclick="signup()">회원가입</button> <br/>
            </td>
        </tr>
        </tbody>
    </table>


    <script src="/js/member.js"></script>
    <!-- {resources/static}생략 /js/member.js -->
{{>ezenweb/footer}}

