<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>회원수정 페이지</h1>

    <form action="/member/update" method="post">
        <input name="no" type="hidden" value="{{no}}"/>
        <input name="pw" type="text" value="{{pw}}"/>
        <input name="phone" type="text" value="{{phone}}"/>
        <input name="email" type="text" value="{{email}}"/>
        <input name="img" type="file" value="{{img}}"/>


    </form>
</body>
</html>




