{{>ezenweb/header}}
<div class="container">
    <h3> 제품 목록 지도 </h3>
    <div id="map" style="width:100%;height:800px;"></div>

</div>
<button style="display:none" class="btn btn-primary sideBarBtn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>


<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body small">
        <div> <!-- 제품 이미지 출력-->
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div> <!-- 제품 가격 또는 등록시 -->

        </div>
        <div> <!-- 제품 설명-->

        </div>
        <div class="produutSideBarBtnBox"> <!-- 버튼-->

        </div>
    </div>









</div>






<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=48a255d662baa9fe2cabe8840e20007c&libraries=clusterer"></script>
<script src="/js/product/list.js"></script>

{{>ezenweb/footer}}

